<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BBQ Recipe App</title>
    <link rel="stylesheet" href="/css/index/app.css" />
  </head>

  <body>
    <h1>Recipes Index Page</h1>
    <nav>
      <a href="/recipes/new">Create a New Recipe</a>
      <a href="/">Back to Homepage</a>
    </nav>
    <br />
    <form action="/recipes/bytypeofmeat/" method="POST">
      <label for="typeOfMeat">Type of Meat:</label>
      <select name="typeOfMeat">
        <option value="none">--Meat--</option>
        <option value="Beef">Beef</option>
        <option value="Chicken">Chicken</option>
        <option value="Fish">Fish</option>
        <option value="Pork">Pork</option>
      </select>
      <input type="submit" value="Choose Meat" />
    </form>
    <nav>
        <a href="/recipes/allrecipes/">Click Here for All Recipes</a>
    </nav>
    <br />
    <ul>
        <% for(let i=0; i<recipe.length; i++) { %>
        <li>
            <a href="/recipes/<%=recipe[i].id%>"> <%=recipe[i].recipeName%> </a>
            <form action="/recipes/<%=recipe[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE Recipe" />
            </form>
            <a href="/recipes/<%=recipe[i].id %>/edit">Edit</a>
        </li><br /> <br />
        <% } %>
    
    </ul>
  </body>
</html>
