<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>BBQ Recipe App</title>
  <link rel="stylesheet" href="/css/new/app.css" />
</head>

<body>
  <h1>New Recipe Page</h1>
  <form action="/recipes" method="POST">
    <label for="typeOfMeat">Type of Meat:</label>
    <select name="typeOfMeat">
      <option value="none">--Meat--</option>
      <option value="Beef">Beef</option>
      <option value="Chicken">Chicken</option>
      <option value="Fish">Fish</option>
      <option value="Pork">Pork</option>
    </select>
    Recipe Name: <textarea rows="1" cols="50" name="recipeName"></textarea><br />
    Ingredients: <br /><textarea rows="10" cols="50" name="ingredients"></textarea><br />
    Instructions: <br /><textarea rows="10" cols="50" name="instructions"></textarea><br />
    <input type="hidden" name="userId" value=<%= userId%> />
    <input type="submit" name="" value="Create Recipe" />
  </form>
</body>

</html>