<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBQ Recipe App</title>
    <link rel="stylesheet" href="/css/uindex/app.css" />
  </head>
  <body>
    <h1>Welcome to the BBQ Recipe App!</h1>
    <h3>
      Do you like to BBQ?<br />
      If yes, you are in the right place!<br />
      <br />
      Sign up or Login to get started...
    </h3>
    <nav>
      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/logout">Log Out</a>
    </nav>
  </body>
</html>
